@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<br>
<h2>Collaborators</h2>
<div class="w-75 m-auto">

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>521H0084</td>
				<td>Nguyen Ngo Dang Khoa</td>
			</tr>
			<tr>
				<td>521H0445</td>
				<td>Nguyen Viet Minh Duy</td>
			</tr>
	</tbody>
</table>
</div>
</div>
